/* CSS Document */
*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
.container{
	width: 1104px;
	margin: 0 auto;
}
.row{
	display: flex;
}
.justify-between{
	justify-content: space-between;
}
.header{
	background: rgba(0,0,0,0.67);
	padding: 32px 0;
	transparent:50px
}
.img-1{
	width: 150px;
}
.nav ul{
	list-style: none;
	padding: 20px;
}
.nav li{
	margin: 0 16px;
	color: white;
}
.nav li a{
	text-decoration: none;
	color: black;
}
.nav li a:hover{
	text-decoration: overline
}
/*header*/
.banner h5{
	margin-bottom: 32px;
}
.banner a:hover{
	color: white;
	opacity: 0.5;
}
.btn{
	font-size: 24;
	color: white;
	text-decoration: none;
	background: #5B444d ;
	padding: 12px;
	border: 2px ;
	margin-top: 24px
}
.box1{
	background:url("../img/3.jpg");
	height: 360px;
	
	background-size: cover;
	background-position:center;
	padding: 180px 0;}
.box2{
	background:url( "../img/4.jpg");
	height: 360px;
	text-align:center;
	background-size: cover;
	background-position:center;
	padding: 180px 0;
	
}
.box3{
	background:url( "../img/6.jpeg");
	height: 360px;
	text-align: center;
	background-size: cover;
	background-position:center;
	padding: 180px 0;
}
.box4{
	background:url( "../img/5.jpg");
	height: 360px;
	text-align:center;
	background-size: cover;
	background-position:center;
	padding: 180px 0;
}
.bestseller h1{
	text-align: center;
	color: black;
	margin: 24px 0;
	
}
.textshop{
	text-align: center;
	color: black;
	margin: 24px 0;
}
	
.anhshop{
	background-size: cover;
	background-position:center;
	padding: 180px 0;
	background-image: url( "../img/20171211-cua-hang-louis-vuitton-hinh-1.png");
	background-repeat: no-repeat;
	background-attachment:fixed;
}
.box5{
	background:url("../img/7.jpg");
	height: 360px;
	background-size: cover;
	background-position:center;
	padding: 180px 0;
}
.text{
	padding: 50px 0;
}
.footer{
	background: black;
}
.row ul{
	color: white;
	list-style: none;
	padding: 40px;
	
}































